[submodule "coco"]
	path = coco
	url = https://github.com/pdollar/coco.git
[submodule "chainer-segnet"]
	path = chainer-segnet
	url = https://github.com/pfnet-research/chainer-segnet.git
[submodule "pascal-voc-python"]
	path = pascal-voc-python
	url = https://github.com/mprat/pascal-voc-python.git
